<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:property-placeholder location="classpath:sms.properties"/>
 	<context:component-scan base-package="com.education.web" />
 	<context:annotation-config/>
 	<import resource="classpath*:education-repository-context.xml" />
 	
 	<bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller">
    	<property name="mappingLocation" value="classpath:oxm-mapping.xml"/> 
	</bean>
	
	<mvc:annotation-driven> 
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
			<bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		  		<property name="marshaller"     ref="castorMarshaller"/>
		  		<property name="unmarshaller"   ref="castorMarshaller"/> 
			</bean>
		</mvc:message-converters> 
	</mvc:annotation-driven>
	
	 <!--Sending emails -->
     <bean id="mailHelper" class="com.education.web.helper.MailHelper" >
    	<property name="mailSender" ref="mailSender" />
	 </bean>
	
     <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
     	<property name="host" value="${email.host}" />
		<property name="port" value="${email.port}" />
        <property name="username" value="${email.username}"/>
        <property name="password" value="${email.password}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
		
	 </bean>
</beans>